
.heading-container{
    text-align: center;
    color: #220851;
    background-color: #d6dbed;
    padding: 10px 0px;
    margin: 0px auto;
    width: 75%;
    margin-top: 20px;
    border-radius: 20px;
}